@model IEnumerable<OurTunes.Data.Song>

@{
    ViewBag.Title = "Index";
}

<<<<<<< HEAD
<h2>Create a new song</h2>
=======
<h2>Index</h2>
>>>>>>> b889ecbce4d589e36f7fd278522e49992acf8ca1

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongGenre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongGenre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SongId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SongId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongId })
        </td>
    </tr>
}

</table>
